.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-lg p {
    font-size: 1.025rem;
}

.search-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.search-buttons a {
    /* background-color: #2a2a2a; */
    /* color: #5a8dfd; */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #7979797a; /* Solid gray border */
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border 0.3s ease,
        font-weight 0.3s ease;
    font-weight: 500; /* Normal weight */
}

.search-buttons a:hover {
    background-color: #3e6bf9;
    color: #ffffff;
    border: 1px solid #5a8dfd;
    font-weight: 500; /* Slightly bolder */
}
